html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 1px solid grey;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    max-width: 100%;
    
}
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

*{
    box-sizing: border-box;
    border: 1px solid rgb(21, 34, 2);
}
html{
    font-size:62.5%;
}
body{
    font-family: 'Roboto Mono', monospace;
    
    font-size: 1.6rem;
}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 5rem;
}
h2 {
    font-size: 1.8rem;
}
a {
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    width: 10%;
    margin-left:15%;
    text-align: center;

}
nav{
    
    width:100%;
    
}

.plan{
    background-color:#FF764E;   
}
.learn {
    background-color: #5ed3eb;
}
.get {
    background-color: #ffcd69;
}

.headerImage {
    display: inline-block;
    width: 40%;
}
.img {
    width: 60%;
}
.headerImage img {
    border-radius: 50%;
}
.headLineBox {
    display: inline-block;
    width: 50%;
    
}
.headLineBox .text {
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 34%;
    
}
.centerParagraph {
    width: 90%;
    background-color: #DDB9A3;
    color:white;
    margin: 0 auto;
    padding: 2%;

}
.middle {
width: 40%;
margin-left: 30%
}
.middle .img {
    margin-left: 5%;
}


.hero-image {
    background-image: src="assets/footer_img.jpg";
    background-position: center;
    background-size: stretch;
   margin: auto 0;
}


footer{
    background-color:#F9E7DC;
    

}